<form [formGroup]="loginForm" (submit)="logIn()">

  <div class="form-group">
    <label>Email</label>
    <input type="text" name="email" formControlName="email"
      class="form-control" id="email" placeholder="Enter Email">

  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" name="password" formControlName="password" 
      class="form-control" id="password" placeholder="Enter password">
  </div>

  <div class="text-center">
    <button class="btn btn-primary mr-1" type="submit">Login</button>
</div>


</form>